@model List<MyWebApp.Models.Komentar>

@if (Model.Any())
{
    <h4>Komentari:</h4>
    <ul class="list-group">
        @foreach (var k in Model)
        {
            <li class="list-group-item">
                <strong>@k.Turista</strong> (ocena: @k.Ocena) <br />
                @k.Tekst
            </li>
        }
    </ul>
}
else
{
    <p>Nema komentara za ovaj smeštaj.</p>
}

